on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:

  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1
      - run: make check
      - run: make delete
